<div class="product-a2c" data-product-no="{{ product_no }}" {% if compact %} data-compact="{{ compact }}"{% endif %}>
    <p class="product-a2c--loading btn small">{% include '@wine-pack/asset/md/cached.svg' %}</p>
</div>
